

/* Main */
.main-slider {
  padding: 70px 0;
  display: flex;
  align-items: center;
}

.main-slider__img_wrapper {
  width: 362px;
  height: 185px;
}

.main-slider__img_wrapper:first-child,
.main-slider__img_wrapper:last-child {
  background:  #31040B;
  opacity: 0.59;
}

.slider-active {
  width: 468px;
  height: 239px;
}
.main-top__products {
  padding: 70px 0;
}

.main-top__products_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-top__products_title {
  font-size: 44px;
}

.main-top__products_link {
  font-size: 22px;
  color: rgb(181 8 32);
}

.main-top__products_imgs {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 70px 0;
}

.main-top__products_img_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.main-top__products_img_wrapper {
  width: 362px;
  height: 339px;
  overflow: hidden;
}

.main-top__products_img_wrapper img {
  width: 100%;
}